.container-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: auto;
    background-color: #333333;
    color: #ffffff;
    padding: 3em 4em;
}

.iframe-IC{
    align-self: flex-end;
    max-width: 15em;
    max-height: 10em;
}

.location{
    max-width: 40ch;
    list-style-image: url("../img/vectorLocation.png");
}

.phone{
    list-style-image: url("../img/vectorPhone.png");
}

.email{
    list-style-image: url("../img/vectorMail.png");
}

.button-who{
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    /*Botão 'flat'*/
    margin-top: 1em;

    font-family: 'Darker Grotesque';
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;

    background-color:#DEB959;
    color:#353535;
}

