body {
    font-family: 'Darker Grotesque', sans-serif;
    color: #ffffff;
    min-width: 100%;
    min-height: 100%;
}

.stretcher{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    min-height: 100vh;
}

main {
    color: #333;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
}

.quem-somos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.quem-somos > h1 {
    font-weight: 700;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.quem-somos > p {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 2rem;
}

.container-footer {
    margin-top: auto;
}

